<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Connect with Cole on
  <a href="https://twitter.com/colemerrick">Twitter</a>.
</p>
<p>
  Connect with the New Mexico Environmental Law Center on
  <a href="https://twitter.com/nmelc">Twitter</a>.
</p>