<%= form_for(current_user.tag_relationships.build(followed_tag_id: @tag), remote: true) do |f| %>
  <div><%= f.hidden_field :followed_tag_id %></div>
  <%= f.submit "Follow Tag", class: "btn btn-large btn-primary" %>
<% end %>