<footer class="footer">
  <small>
    Advisors: <a href="http://nmelc.org/">New Mexico Environmental Law Center</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://nmelc.org/">News</a></li>
    </ul>
  </nav>
</footer>